<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.0.11024.1827-alpha" targetFramework="MonoTouch10" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.0.110271531-alpha" targetFramework="MonoTouch10" />
</packages>